<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Autocomplete Search BOX |  toofan</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="wrapper">

            <div class="search-input">
                <input type="test" placeholder="Type to search ..">
                <div class="autocom-box">
                    <li>Loging form in html & class=""</li>
                    <li>How ot learn html & css</li>
                    <li>How to learn javascript</li>
                    <li>How to do it</li>
                </div>
                <div class="icon"> <i class="fas fa-search"></i></div>
            </div>
        </div>
    <script> src="js/suggestions.js" </script>
    <script> src="js/script.js" </script>
    </body>
</html>